<div id="playerEntryDiv">
  <h1 id="playerNameEntry">Enter Your Name</h1>

  <form action="/play" method="post">
    <input type="text" name="playerName">
    <button type="submit" name="button">Submit</button>
  </form>
</div>
